<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      مبروك! لقد أتممت عملية الإشتراك والمساهمة في <%= Settings.product_name %>!
    </h2>
    <p>مبروك أنت  <%= Settings.primary_stat_verb %> رقم  <span id="backer_number"><%= number_with_delimiter @order.number, :delimiter => "," %></span> , في <%= Settings.product_name %><br>
      يمكنك مشاركة هذا الخبر الرائع عبر تويتر , فيسبوك !</p>
    <br />
    <br />
    <div id="share" class="clearfix">
      <div id='pin_button_container'>
        <%= pin_it_button %>
      </div>
      <div id='tweet_button_container'>
        <%= tweet_button %>
      </div>
      <div id='facebook_button_container'>
        <%= like_button(450, true) %>
      </div>
    </div>
     <div id="order_id"> رقم الطلب / الحجز : <%= @order.uuid %>. يمكنك طباعة أو حفظ معلومات هذه الصفحة لتبقى كمرجع لديك.</div>
  </div>
</div>

<%= render 'preorder/share/twitter_js' %>
<%= render 'preorder/share/facebook_js' %>
